<div class="object-browser layout-row">
    <div class="panel container flex-20">
        <div class="input-fields">
            <h3>Analysis Input</h3>
            Selected Relationship:
            {{#paper-menu as |menu|}}
                {{#menu.trigger width=4}}
                    {{#paper-button}}{{if root root.label model.[0].label}}{{/paper-button}}
                {{/menu.trigger}}
                {{#menu.content width=2 as |content|}}
                    {{#each model as |item|}}
                    {{#content.menu-item onClick=(action 'updateRoot' item)}}
                        {{paper-icon item.label}}
                        <span>{{item.label}}</span>
                    {{/content.menu-item}}
                    {{/each}}
                {{/menu.content}}
            {{/paper-menu}}
        </div>
        
    </div>
    <div class="object-list layout-column container flex-80">
        <div class="graph-container container-segment layout-row">
            {{#visjs-network class="graph-view flex-80"}}
                {{visjs-node nId="0" label="0" color='#ff0000'}}
                {{visjs-node nId="1" label="1" color='#ff0000'}}
                {{visjs-node nId="2" label="2"}}
                {{visjs-node nId="3" label="3"}}
                {{visjs-node nId="4" label="4"}}
                {{visjs-node nId="5" label="5"}}
                {{visjs-node nId="6" label="6"}}
                {{visjs-node nId="7" label="7"}}
                {{visjs-node nId="8" label="8"}}
                {{visjs-node nId="9" label="9"}}
            {{#each model as |x|}}
                {{visjs-edge from=x.source to=x.target color='#C7F110'}}
            {{/each}}
            {{/visjs-network}}
            {{#paper-list class="scroll-div flex-30"}}
            {{#paper-subheader}}{{allPaths.length}} Paths from '{{root.source}}' to '{{root.target}}' ({{pathStats.iterations}}:{{pathStats.time}}s){{/paper-subheader}}
            {{#each allPaths as |path|}}
                {{#paper-item class="md-3-line"}}

                <div class="md-list-item-text">
                    <p>[
                    {{#each path as |item|}}
                    {{item}},
                    {{/each}}
                    ]</p>
                </div>
                {{/paper-item}}
            {{/each}}
        {{/paper-list}}
        </div>
        
        {{#paper-list class="scroll-div flex-50"}}
            {{#paper-subheader}}Mock Network Events{{/paper-subheader}}
            {{#each model as |item|}}
                {{#paper-item class="md-3-line"}}
                
                <div class="md-list-item-text">
                    <h3>Network Performance Object:<b>{{item.id}}</b></h3>
                    <p>Source: {{item.source}} Target {{item.target}}</p>
                </div>
                {{/paper-item}}
            {{/each}}
        {{/paper-list}}
        
    </div>
</div>
{{yield}}